---
name: code quality
on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - main
      - master
  pull_request:

permissions:
  contents: read

jobs:
  # https://github.com/golangci/golangci-lint-action
  golangci:
    name: golangci-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: run linter
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.6.1
          args: --config=./tools/.golangci.yml

  # https://github.com/vladopajic/go-test-coverage
  coverage:
    name: go-test-coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3

      - name: generate test coverage
        run: GOTOOLCHAIN=go1.25.4+auto go test ./... -coverprofile=./tools/cover.out -covermode=atomic ./...

      - name: check test coverage
        uses: vladopajic/go-test-coverage@v2
        with:
          config: ./tools/.testcoverage.yml

  # https://github.com/marketplace/actions/yamllint-github-action
  yamllint:
    name: yamllint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: run linter
        uses: karancode/yamllint-github-action@master
        with:
          yamllint_file_or_dir: .
          yamllint_strict: true
          yamllint_config_filepath: ./tools/.yamllint.yml
